<div id="date-filter-div" class="row">
	<div class="row col s8 m6 l10 horizontal-filter">
		<div class="horizontal-filter-group">
			<div class="col s12 m6 l3">
				<input name="filter" type="radio" id="today" (click)="updateDataFilterValue('TODAY')">
				<label for="today">Today</label>
			</div>
			<div class="col s12 m6 l3">
				<input name="filter" type="radio" id="last_week" (click)="updateDataFilterValue('LAST_WEEK')">
				<label for="last_week">Last week</label>
			</div>
			<div class="col s12 m6 l3">
				<input name="filter" type="radio" id="last_month" (click)="updateDataFilterValue('LAST_MONTH')">
				<label for="last_month">Last month</label>
			</div>
			<div class="col s12 m6 l3">
				<input name="filter" checked type="radio" id="all_time" (click)="updateDataFilterValue('ALL_TIME')">
				<label for="all_time">All time</label>
			</div>
		</div>
	</div>
</div>
