header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width: 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.logo-with-text {
	width: 90%;
	padding-left: 1em;
	padding-top: 0.5em;
	margin-bottom: 3em;
}

.side-nav {
  width: 8em;
}

.menu-button {
	padding-top: 2em;
	padding-bottom: 6em;
}

.export-button {
	margin-top: 6em;
}

.view:hover {
  background-color: #e0e0e0 ;
}

.view:link {
  background-color: #e0e0e0 ;
}
