<div class="row horizontal-filter">
  <div class="horizontal-filter-group">
    <div class="col s2">
      <input name="grp1" checked type="radio" id="r1">
      <label for="r1">Today</label>
    </div>
    <div class="col s2">
      <input name="grp1" type="radio" id="r2">
      <label for="r2">Yesterday</label>
    </div>
    <div class="col s2">
      <input name="grp1" type="radio" id="r3">
      <label for="r3">Last week</label>
    </div>
    <div class="col s2">

      <input name="grp1" type="radio" id="r4">
      <label for="r4">Last month</label>
    </div>
    <div class="col s2">

      <input name="grp1" type="radio" id="r5">
      <label for="r5">All time</label>
    </div>

    <div class="col s2 settings-button right-align">
      <a class="btn-floating btn-medium menu 26a69a"><i class="material-icons">menu</i></a>
    </div>
  </div>

</div>



