<div class="row">
	<div class="row col s8 m6 l10 horizontal-filter">
		<div class="horizontal-filter-group">
			<div class="col s12 m6 l3">
				<input name="grp1" checked type="radio" id="r1">
				<label for="r1">Today</label>
			</div>
			<div class="col s12 m6 l3">
				<input name="grp1" type="radio" id="r3">
				<label for="r3">Last week</label>
			</div>
			<div class="col s12 m6 l3">
				<input name="grp1" type="radio" id="r4">
				<label for="r4">Last month</label>
			</div>
			<div class="col s12 m6 l3">
				<input name="grp1" type="radio" id="r5">
				<label for="r5">All time</label>
			</div>
		</div>
	</div>
	<div class="col s4 m6 l2 settings-button">
		<a routerLink="/settings" routerLinkActive="active" class="btn-floating btn-medium menu 26a69a"><i
			class="material-icons">menu</i>
		</a>
	</div>
</div>
