<ul class="collapsible" data-collapsible="accordion">
  <li (click)="createTree()">
    <div class="collapsible-header grey lighten-2">
      <i class="material-icons">folder</i>Books
    </div>
    <div class="collapsible-body"><p>The Charterhouse of Parma</p></div>
    <div class="collapsible-body"><p>The Count of Monte Cristo</p></div>
    <div class="collapsible-body"><p> David Copperfield </p></div>
  </li>
  <li (click)="createTree()">
    <div class="collapsible-header grey lighten-2">
      <i class="material-icons">folder</i>Movies
    </div>
    <div class="collapsible-body"><p>Lord of the Rings</p></div>
    <div class="collapsible-body"><p>Thor</p></div>
  </li>
  <li (click)="createTree()" class="active">
    <div class="collapsible-header grey lighten-2">
      <i class="material-icons">folder</i>College resources
    </div>
    <div class="collapsible-body"><p>CLIW</p></div>
    <div class="collapsible-body"><p>Machine learning</p></div>
    <div class="collapsible-body"><p>Artificial intelligence</p></div>
  </li>
</ul>
<input type="button" (click)="dumpBookmarks()" class="btn-floating btn-large waves-effect waves-light red">
